{% extends 'base.html' %} 

{% block content %}

    <center>
        <h1>MY MATH!</h1>
        <img src="\static\img\matematika.png" height="200px">
        <h4 style="background-color: rgba(135, 30, 30, 0.568) ;">Sejarah Matematika</h4>
    <p style="font-family: 'papyrus'">Sebelum zaman modern dan penyebaran ilmu pengetahuan ke seluruh dunia, contoh-contoh tertulis dari pengembangan matematika telah mengalami kemilau hanya di beberapa tempat. Tulisan matematika terkuno yang telah ditemukan adalah Plimpton 322 (matematika Babilonia sekitar 1900 SM), Lembaran Matematika Rhind (Matematika Mesir sekitar 2000-1800 SM) dan Lembaran Matematika Moskwa(matematika Mesir sekitar 1890 SM). Semua tulisan itu membahas teorema yang umum dikenal sebagai teorema Pythagoras, yang tampaknya menjadi pengembangan matematika tertua dan paling tersebar luas setelah aritmatika dasar dan geometri.
    <p style="font-family: 'papyrus'">{{ gbrumum }}</p>
    <p style="font-family: 'papyrus'">Penggunaan terkuno matematika di pakai dalam perdagangan, pengukuran tanah, pelukisan, dan pola-pola penenunan dan pencatatan waktu dan tidak pernah berkembang luas hingga tahun 3000 SM ke muka ketika orang Babilonia dan Mesir Kuno mulai menggunakan aritmetika, aljabar, dan geometri untuk penghitungan pajak dan urusan keuangan lainnya, bangunan dan konstruksi, dan astronomi. Pengkajian matematika yang sistematis di dalam kebenarannya sendiri dimulai pada zaman Yunani Kuno antara tahun 600 dan 300 SM.</p>
    <p style="font-family: 'papyrus'">Benda matematika tertua yang sudah diketahui adalah tulang Lebombo, ditemukan di pegunungan Lebombo di Swaziland dan mungkin berasal dari tahun 35000 SM. Tulang ini berisi 29 torehan yang berbeda yang sengaja digoreskan pada tulang fibula baboon.</p>
    
  
    <h4 style="background-color: rgba(118, 59, 119, 0.43);">Motto</h4>
    <p style="font-family: 'comic sans ms'">"Matematika mengajarkan bahwa tidak ada masalah di dunia ini tanpa solusi."
    
  </center>
    

    <style>
        body {
          background-image: linear-gradient(to right,#AFEEEE, #FFFFF0);
        }
        </style>  



{% endblock %}